body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 80px;
  scroll-behavior: smooth;
}

.hero, .familia, .campo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; /* antes era fixed */
  min-height: 100vh; /* cobre toda a tela */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


/* Imagens individuais */
.hero {
  background-image: url('img/arroz-close.jpg');
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

/* Texto central da capa */
.hero h1, .hero p {
  position: relative;
  z-index: 2;
  color: #fff;
}

/* Seção Quem Somos */
#quem-somos {
  background-color: #f8f9fa;
}

.familia .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
}

/* Títulos */
h2 {
  color: #2a572b;
  font-weight: 600;
}

/* Rodapé */
footer {
  background-color: #2a572b !important;
  color: #fff;
}

/* Seção Do Campo à Mesa */
#campo {
  background-color: #f9faf9;
}

@media (max-width: 768px) {
  #campo .row {
    flex-direction: column-reverse;
  }
}

/* Efeito fixed para telas grandes*/
@media (min-width: 992px) {
  .hero, .familia, .campo {
    background-attachment: fixed; 

  }
}
@media (max-width: 768px) {
  #campo .col-md-6.text-center {
    margin-top: 30px !important;
  }
}